/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  margin: 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  background: none;
}

.mainContent {
  height: 73vh;
  width: 100%;
  background: radial-gradient(125% 125% at 50% 10%, var(--custom-cur-color) 40%, #63e 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-color {
  background-color: #6633ef;
}